<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.JunNan.dao.ModuleMapper" >
  <resultMap id="BaseResultMap" type="com.JunNan.model.Module" >
    <id column="ID" property="ID" jdbcType="BIGINT" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="Url" property="Url" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, Name, Url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from Module
    where ID = #{ID,jdbcType=BIGINT}
  </select>
 
  <select id="listModule" resultMap="BaseResultMap">
      select 
    <include refid="Base_Column_List" />
    from Module
  </select>
</mapper>